<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="MonoAndroid45" />
  <package id="Xamarin.Android.Support.v4" version="21.0.3.0" targetFramework="MonoAndroid45" />
  <package id="Xamarin.Forms.Master" version="1.2.2.8690" targetFramework="MonoAndroid45" />
</packages>